{% extends "_layout/site.html" %}
    {% block content %}
		{% include "_includes/components/main/content.html" with {button: false,posttype:'contribute'} %}

<section class="c-content-contribute">
 <div class="o-wrapper -four">
	<h2>{{entry.contributeTitle}}</h2>
	{{entry.contributeContent}}
	</div>
		<form class="c-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="contactForm/sendMessage">
                <input type="hidden" name="redirect" value="faire-don">
                <input type="hidden" name="fromEmail" value="admin@gmail.com">
                <input type="hidden" name="subject" value="Faire Don Form">    
				<input type="hidden" name="cmd" value="_donations" />
				<input type="hidden" name="business" value="lysa-marie.hontoy@umontreal.ca" />
				<input type="hidden" name="currency_code" value="CAD" />

			  <div class="form-footer">
			  	<button type="submit" class="btn btn-primary">{{"Contribuer"|t}}</button>
			  </div>
			  
			</form>		
</section>

	{% endblock %}