{% extends "_layout/site.html" %}
    {% block content %}
<div class="fb-comment-embed" data-href="https://www.facebook.com/humainavanttouthumanfirst/posts/560041114401650" data-width="560" data-include-parent="true"></div>
<div class="fb-comments" data-href="https://www.facebook.com/photo.php?fbid=10157044569988419&set=a.10152771026453419&type=3&theater" data-numposts="10" data-order-by="time"></div>

<div class="fb-comment-embed" data-href="https://www.facebook.com/humainavanttouthumanfirst/posts/560041114401650?comment_id=560128647726230&amp;comment_tracking=%7B%22tn%22%3A%22R%2326%22%7D" data-width="560" data-include-parent="true"></div>
 <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="M2KSCDCK9JZ2E" />
<input type="hidden" name="currency_code" value="CAD" />
<input type="image" src="https://www.paypalobjects.com/fr_CA/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Bouton Faire un don avec PayPal" />
<img alt="" border="0" src="https://www.paypal.com/fr_CA/i/scr/pixel.gif" width="1" height="1" />
</form>



	{% endblock %}