{% extends "_layout/site.html" %}
    {% block content %}
		{% include "_includes/components/main/content.html" with {button: true,posttype:'home'} %}
		{% include "_includes/components/main/testimonials.html" with { currentpost:'testimonialsList',limit:6,posttype:'home',title:'The testimonials'} %}
		<section class="o-section c-txt-image -version-zero">
            <div class="c-content_wrap">
				<div class="o-wrapper -two -a">
					<div class="c-content">
						<h2>{{entry.txtNImgTitle}}</h2>
						{{entry.txtNImgContent}}
						<div class="c-btn_div"><span class="-first"></span><span class="-second"></span><span class="-third"></span><span class="-four"></span><a class="c-btn c-btn--main" href="">{{"learn more"|t}}</a></div>
					</div>
                </div>
				<div class="-two -c">
					<div class="c-content">
						<h2>{{entry.txtNImgTitle}}</h2>
						{{entry.txtNImgContent}}
						<div class="c-btn_div"><span class="-first"></span><span class="-second"></span><span class="-third"></span><span class="-four"></span><a class="c-btn c-btn--main" href="">{{"learn more"|t}}</a></div>
					</div>
                </div>                
            </div>
            <div class="c-image">
            	<div class="o-ratio o-ratio--home-image -first" style="background: url('{{entry.txtNImgImage.one().url()}}')"></div>
            </div>                
		</section>
		<section class="o-section c-image-txt -version-zero">
			<div class="c-image">
				<div class="o-ratio o-ratio--home-image -second" style="background: url('{{entry.imgNTxtImage.one().url()}}')"></div>
			</div>      
            <div class="c-content_wrap">
				<div class="o-wrapper -two -b">
					<div class="c-content">
						<h2>{{entry.imgNTxtTitle}}</h2>
						{{entry.imgNTxtContent}}
						<div class="c-btn_div"><span class="-first"></span><span class="-second"></span><span class="-third"></span><span class="-four"></span><a class="c-btn c-btn--main" href="">{{"learn more"|t}}</a></div>
					</div>
                </div>
<div class="-two -c">
					<div class="c-content">
						<h2>{{entry.imgNTxtTitle}}</h2>
						{{entry.imgNTxtContent}}
						<div class="c-btn_div"><span class="-first"></span><span class="-second"></span><span class="-third"></span><span class="-four"></span><a class="c-btn c-btn--main" href="">{{"learn more"|t}}</a></div>
					</div>
                </div>                
            </div>             
		</section>	
		<section class="o-section c-quote">
			<div class="o-wrapper -one">
				<div class="c-quote_wrap">
           			<p>{{entry.homeQuote|nl2br}}</p>
           		</div>
           		<p class="c-quote_author">- {{entry.homeQuoteAuthor}}</p>
       		</div>
		</section>				
	{% endblock %}