<article class="cc-i cc-f" data-role="form">
    {% if settings.showAvatar %}
        <figure class="cc-i-figure">
            <p class="cc-i-image">
                {% if currentUser and currentUser.getPhoto() %}
                    <img src="{{ currentUser.getPhoto().url({ width: 64, height: 64, mode: 'fit' }) }}" />
                {% elseif settings.placeholderAvatar %}
                    <img src="{{ settings.getPlaceholderAvatar().url({ width: 64, height: 64, mode: 'fit' }) }}" />
                {% else %}
                    <span class="cc-i-image-icon"></span>
                {% endif %}
            </p>
        </figure>
    {% endif %}

<div class="c-form" data-role="form">
    <p>Laisser un commentaire</p>
        <form class="cc-f-wrap" role="form" method="post" accept-charset="UTF-8">
            <input type="hidden" name="action" value="comments/comments/save">
            <input type="hidden" name="elementId" value="{{ element.id }}">
            <input type="hidden" name="siteId" value="{{ element.siteId }}">
            <input type="hidden" name="newParentId" value="">
            <input type="hidden" name="commentId" value="">
            {{ csrfInput() }}
            {{ craft.comments.protect() }}

            <label for="">Commentaire*</label>
            <p class="lead emoji-picker-container">
            <textarea class="cc-f-textarea" name="fields[comment]"rows="6" type="email" data-emojiable="true"></textarea></p>
{#             <div class="cc-e"></div> #}


{# 
            <div data-role="notice" class="cc-n"></div> #}
            <div class="c-form_btn">
                <button class="c-btn c-btn--primary" type="submit">{{ 'Soumettre' | t('comments') }}</button>
            </div>
        </form>
    </div>
</article>