{# initialisation #}
	{% set menuSecondaryEntries = "" %}
	{% set menuMainEntries 		= "" %}

{# declaration #}
	{% set menuSecondaryEntries = craft.entries.section('menuSecondary').level(1).all() %}
	{% set menuMainEntries 		= craft.entries.section('menuMain').level(1).all() %}

{# code #}
	<div class="c-header_navigation">
		<div class="c-header_navigation_secondary animated">
			<div class="o-wrapper">
				<nav class="c-navigation_secondary">
				    <ul class="o-list-bare">
				    	{% cache %}
					        {% for menuSecondaryEntry in menuSecondaryEntries %}
					            <li><a href="{{ menuSecondaryEntry.menuLink.getUrl() }}">{{ menuSecondaryEntry.title }}</a></li>
					        {% endfor %}
					        <li><a href="">En</a></li>
				        {% endcache %}
				    </ul>
				</nav>
			</div>
		</div>
		<div class="c-header_navigation_primary animated">
			<div class="o-wrapper">
				<div class="c-header_flex">
					<div class="c-header_logo">
						<a href="{{siteUrl}}">
							<picture>
								<source srcset="{{baseUrl}}/assets/img/logos/humain-avant-tout_logo-black.webp" type="image/webp">
								<source srcset="{{baseUrl}}/assets/img/logos/humain-avant-tout_logo-black.svg" type="image/svg">
								<img src="{{baseUrl}}/assets/img/logos/humain-avant-tout_logo-black.png" alt="{{'Human right'|t}}">
							</picture>
						</a>	
					</div>
					<nav class="c-navigation_primary">
					    <ul class="o-list-bare">
					    	{% cache %}
						        {% for menuMainEntry in menuMainEntries %}
						            <li><a href="{{ menuMainEntry.menuLink.getUrl() }}">{{ menuMainEntry.title }}</a></li>
						        {% endfor %}
					        {% endcache %}
					    </ul>
					</nav>
				</div>
			</div>
		</div>	
	</div>