{# initialisation #}
	{% set baseUrl 	= "" %}

{# declaration #}
	{% set baseUrl 	= alias(craft.app.sites.primarySite.baseUrl) %}

{# code #}
	<!doctype html>
	<html lang="{{craft.app.language}}">
		<head>
			<link rel="stylesheet" href="{{ baseUrl }}/assets/css/app.css">
			<link href="https://fonts.googleapis.com/css?family=Sacramento|Montserrat:400,600,700" rel="stylesheet">
		</head>	
		<body class="pageslug-{{entry.type}}">	
			<div id="fb-root"></div>
				<header class="c-header">
					{# NAVIGATION #} {% include '_includes/components/header/navigation.html' %}
					{# NAVIGATION #} {% include '_includes/components/header/banner.html' %}
					<div class="c-sidebar">
						<ul class="o-list-bare c-sidebar_ul">
							<li class="c-sidebar_item -instagram"><a href="{{option.linkInstagram.getUrl()}}" target="_blank">Instagram</a></li> 						
							<li class="c-sidebar_item -facebook"><a href="{{option.linkFacebook.getUrl()}}" target="_blank">Facebook</a></li>
							<li class="c-sidebar_item -emergency"><a>{{"emergency"|t}}</a></li>
						</ul>
						<div class="c-emergency_info">
							<div class="c-emergency_info_content">
								<p class="c-emergency_title -main">{{"Immediate emergency"|t}}</p>
								<ul class="o-list-bare c-emergency_ul">
									{% for block in option.resourcesList %}
	    								{% if block.type == "resourcesListTab" %}
	        								<li>
	        									<span class="c-emergency_title">{{ block.resourcesListName }}</span>
	        									<span>{{block.resourcesListPhone}}</span>
	        									{% if block.resourcesListWeb %}
	        										<span><a href="{{block.resourcesListWeb.getUrl()}}" target="_blank">{{block.resourcesListWeb.getUrl()}}</a></span>
	        									{% endif %}
	        								</li>
	    								{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</header>
			<main class="c-main">
				{% block content %}
				{% endblock %}	
			</main>
			{# FOOTER #} {% include '_includes/components/footer/footer.html' %}
			<script src="{{ baseUrl }}/assets/script/app.js"></script>	
		</body>
	</html>					