{# initialisation #}
	{% set postId 	= "" %}
	{% set content 	= "" %}
	{% set imgWebp 	= "" %}
	{% set imgJpeg 	= "" %}

{# declaration #}
	{% set postId 	= entry.testimonialsFbId %}
	{% set content 	= entry.testimonialsContent %}
	{% set imgWebp 	= entry.testimonialsImage %}
	{% set imgJpeg 	= entry.testimonialsImageFallback %}

{# code #}
	{% extends "_layout/site.html" %}
	{% block content %}
		<div class="o-wrapper">
			<span class="c-testimonials_id">{{postId}}</span>
			<div class="o-layout">
				<div class="o-layout__item u-1/2">
					<picture alt="{{imgJpeg.one().title}}">
						{% if imgWebp|length %}
							<source srcset="{{imgWebp.one.url()}}" type="image/webp">
						{% endif %}
						{% if imgJpeg|length %}
							<source srcset="{{imgJpeg.one.url('temoignagesDesktopJpeg')}}" alt="{{imgJpeg.title}}" type="image/jpeg">
						{% endif %}		
						<img src="{{imgJpeg.one.url()}}" alt="{{imgJpeg.one().title}}">
					</picture>
					<p>Commentaires Facebook</p>
					<ul class="c-comment o-list-bare"></ul>
					<a class="c-comments_view">Voir tous les commentaires</a>
				</div>
				<div class="o-layout__item u-1/2">
					{{content}}
				</div>
			</div>
		</div>
	{% endblock %}