{# initialisation #}
	{% set postId 	= "" %}
	{% set content 	= "" %}
	{% set imgWebp 	= "" %}
	{% set imgJpeg 	= "" %}
	{% set date 	= "" %}

{# declaration #}
	{% set postId 	= entry.testimonialsFbId %}
	{% set content 	= entry.testimonialsContent %}
	{% set imgWebp 	= entry.testimonialsImage %}
	{% set imgJpeg 	= entry.testimonialsImageFallback %}
	{% set date 	= entry.postDate|date('d.m.Y') %}
{# code #}
	{% extends "_layout/site.html" %}
	{% block content %}
		<section class="o-section c-testimonials_single">
			<div class="o-wrapper">
				<span class="c-testimonials_id">{{postId}}</span>
				<div class="o-layout o-layout--flush">
					<div id="c-testimonials_image" class="o-layout__item -img ">
						<picture>
							{% if imgWebp|length %}
								<source srcset="{{imgWebp.one.url()}}" type="image/webp">
							{% endif %}
							{% if imgJpeg|length %}
								<source srcset="{{imgJpeg.one.url()}}" alt="{{imgJpeg.title}}" type="image/jpeg">
							{% endif %}		
							<img class="c-testimonials_img lazy" data-src="{{imgJpeg.one.url()}}" alt="{{imgJpeg.one().title}}">
						</picture>

{# Set parameters for prev/next elements list #}
{% set params = craft.entries.section('testimonialsList').order('postDate desc').limit(99999999) %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

<div class="c-pagination -single -desktop">
	<ul class="c-pagination_ul">
{# And make sure to only output the links if the element exists #}
{% if nextEntry %}<li><a class="c-pagination_previous" href="{{ nextEntry.url }}">Précédent</a></li>{% endif %}
{% if prevEntry %}<li class="-next"><a class="c-pagination_next"href="{{ prevEntry.url }}">Suivant</a></li>{% endif %}
</ul>
	</div>

					</div>
					<div class="o-layout__item -content u-1/2@landscape-large-tablet u-3/5@landscape-medium-tablet">
						<p class="c-testimonials_date">{{date}}</p>
						<h1>{{entry.title}}</h1>
						<div class="c-testimonials_content">
<picture class="c-picture_mobile">
							{% if imgWebp|length %}
								<source srcset="{{imgWebp.one.url()}}" type="image/webp">
							{% endif %}
							{% if imgJpeg|length %}
								<source srcset="{{imgJpeg.one.url()}}" alt="{{imgJpeg.title}}" type="image/jpeg">
							{% endif %}		
							<img class="c-testimonials_img lazy" data-src="{{imgJpeg.one.url()}}" alt="{{imgJpeg.one().title}}">
						</picture>							
							{% if entry.testimonialsPreamble %}
							<div class="c-preamble">
								{{entry.testimonialsPreamble}}
							</div>
							{% endif %}

						

							<div class="c-content">
								{{content}}
							</div>



							{% if entry.Resources %}
							<ul class="c-testimonials_resources">
{% for block in entry.Resources.all() %}

    {% if block.type == "ResourcesTab" %}
<li>
        <h4>{{ block.ResourcesName }}</h4>
        {{block.ResourcesDescription}}
        <ul class="c-resources-sm">	
        	{% if block.ResourcesWebsite|length%}<li class="c-resources-sm_web"><a href="{{block.ResourcesWebsite}}" target="_blank">Site</a></li>{% endif %}  
        	{% if block.ResourcesFacebook|length%}<li class="c-resources-sm_fb"><a class href="{{block.ResourcesFacebook}}" target="_blank">Fb</a></li>{% endif %} 
        </ul>

</li>
    {% endif %}

{% endfor %}
</ul>
{% endif %}


<div class="c-pagination -single -mobile">
	<ul class="c-pagination_ul">
{# And make sure to only output the links if the element exists #}
{% if nextEntry %}<li><a class="c-pagination_previous" href="{{ nextEntry.url }}">Précédent</a></li>{% endif %}
{% if prevEntry %}<li class="-next"><a class="c-pagination_next"href="{{ prevEntry.url }}">Suivant</a></li>{% endif %}
</ul>
	</div>


						</div>
						<div class="c-testimonials_interaction">
							<p>Vous avez aimé ?</p>
							<ul>
								<li class="c-share_toggle -js-visibles-share">Partager le témoignage
								<div class="c-share_options">
									<ul class="c-share_options_ul">
										<li class="c-share_facebook"><a class="fb-share" href="https://www.facebook.com/sharer/sharer.php?u={{entry.url}}" target="_blank">Fb</a></li>
									</ul>
								</div>
								</li>
								<li class="c-comments_toggle">Afficher les commentaires</li>
							</ul>				
						</div>
						{{ craft.comments.render(entry.id) }}
					</div>
				</div>
			</div>
		</section>
	{% endblock %}